<!DOCTYPE html>
<html>
    <head>
        <title>RIVERCOVE RESIDENCE EC</title>

        <link  href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link  href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link  href="lib/angularjs-slider-6.4.0/rzslider.min.css" rel="stylesheet">

        <link  href="assets/extra.css" rel="stylesheet">
        <link  href="assets/my-style.css" rel="stylesheet">
        <link  href="assets/responsive-menu.css" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--use local font file for testing, can enable this when deploy-->
        <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa%3A400%2C700&amp;ver=4.7.3" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa%3A700" type="text/css">-->
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-400-700-v4-7-3.css" type="text/css">
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-700.css" type="text/css">


        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Caudex' rel='stylesheet'>
    </head>
    <body class="rcr" ng-app="rcrApp" ng-controller="rcrCtrl as rcr" ng-init="rcr.openModal('page-init-modal'); rcr.init();">
        <div class="page-header">
            <img src="./images/logo.bmp" alt="" class="logo">
            <div class="header-content hidden-sm-down">
                <ul class="list-unstyled">
                    <li id="top-menu-item-home" class="top-menu-item">
                        <a href="#home" class="top-menu-item-link">
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="top-menu-item-details" class="top-menu-item">
                        <a href="#details" class="top-menu-item-link">
                            <span>Details</span>
                        </a>
                    </li>
                    <li id="top-menu-item-amenties" class="top-menu-item">
                        <a href="#amenties" class="top-menu-item-link">
                            <span>Amenties</span>
                        </a>
                    </li>
                    <li id="top-menu-item-register" class="top-menu-item">
                        <a href="#register" class="top-menu-item-link">
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <button id="responsive-menu-button"
                class="responsive-menu-button responsive-menu-accessible responsive-menu-boring hidden-md-up"
                type="button" aria-label="Menu"
                ng-click="rcr.showMenu = !rcr.showMenu"
                ng-class="{ 'is-active': rcr.showMenu }">
            <span class="responsive-menu-box"><span class="responsive-menu-inner"></span></span>
        </button>
        <div id="responsive-menu-container" class="slide-left hidden-md-up"
             ng-class="{ 'slide-left': !rcr.showMenu }">
            <div id="responsive-menu-wrapper" class="p-a-3">
                <ul id="responsive-menu" class="">
                    <li id="responsive-menu-item-home" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#home" class="responsive-menu-item-link">
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-details" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#details" class="responsive-menu-item-link">
                            <span>Details</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-amenties" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#amenties" class="responsive-menu-item-link">
                            <span>Amenties</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-register" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#register" class="responsive-menu-item-link">
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-content">
            <section class="home" id="home">
                <div class="bg-overlay"></div>
                <div class="overlay">
                    <div class="container">
                        <div class="float-content">
                            <div class="title m-t-1">
                                <div class="head font-type-3">
                                    <div class="launching-tag">
                                        <img src="images/launch-tag-2.png" alt="">
                                    </div>
                                    <h2>
                                        <strong>Welcome to Rivercove Residences</strong>
                                    </h2>
                                    <h3>
                                        <span>Executive Condominium at Anchorvale Lane</span>
                                    </h3>
                                </div>
                                <div class="m-t-1 m-b-1 font-type-1" style="color: white;">
                                    A Premium Development by
                                </div>
                                <div>
                                    <img width="150px" src="images/company_logo1.png" alt="">
                                </div>
                                <div>
                                    <img width="150px" src="images/company_logo2.png" alt="">
                                </div>
                            </div>
                            <a href="#register">
                                <button class="register-interest btn btn-secondary btn-lg font-type-2">
                                    Register your interest
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="details" id="details">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-2 p-x-1 text-xs-center">
                            <h3>RIVERCOVE RESIDENCE EC Details</h3>
                            <div class="p-t-1 p-b-2">
                                <p>RIVERCOVE RESIDENCE EC is a 99-years leasehold development located in Sengkang and Anchorvale area. It is a beautiful development with the full waterfront facing Sengkang Riverside Park. In additional, it has an unblock view making it one of the more unique ECs. Many of the units are also facing away from the LRT Station to reduce noise exposure. There are approximately 635 units that range from 3 to 5 bedrooms, whichever fits your needs. </p>
                            </div>

                            <div class="text-xs-center">
                                <img src="images/image-sunrise.jpg" class="hidden-sm-down" width="70%" alt="">
                                <img src="images/image-sunrise.jpg" class="hidden-md-up" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="reason font-type-3" id="reason">
                <div class="bg-overlay"></div>
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-3">
                            <h2>5 Key Reasons Why You Should Consider RIVERCOVE RESIDENCE EC</h2>
                            <div class="p-t-1">
                                <ol class="p-l-1">
                                    <li>
                                        The ONLY EC project launching in 2018!
                                        <div>
                                            <img src="images/reason1.jpg" alt="" width="300px">
                                        </div>
                                    </li>
                                    <li>
                                        The next potential EC will only be launch in the second half of the year 2019.
                                        <ul class="p-l-1">
                                            <li>The EC land bidding exercises at Sumang Link, will only take place in early 2018.</li>
                                            <li>The launch will only happen 15 months after the bid.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        With the record developer sales of private homes and EC in 2017, property prices are predicted to inched even higher this year.
                                        <div>
                                            <img src="images/reason3.jpg" alt="" width="200px">
                                        </div>
                                    </li>
                                    <li>
                                        Many of the HBD flats in Punggol, Hougang and Sengkang, would have met or going to meet MOP in the coming months.
                                        <ul class="p-l-1">
                                            <li>Therefore, any potential young couples will most likely look at EC as their next likely upgrade choice.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        We expect high interest among HBD upgraders.
                                        <ul class="p-l-1">
                                            <li>The previous EC project, Hundred Palms Residence, launch last year, were snap up in 7 hours.</li>
                                        </ul>
                                        <div>
                                            <img src="images/reason5.jpg" alt="" width="200px">
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="amenties" id="amenties">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-3">
                            <h3 class="text-xs-center">What Makes RIVERCOVE RESIDENCES EC Worth Checking Out?</h3>
                            <div class="items text-xs-center">
                                <div class="item row p-t-3">
                                    <div class="content col-md-6 p-b-1">With the constant development to the North-East region of Singapore, the lifestyle of residents are getting more convenient with malls such as Compass Point, Rivervale Mall, Rivervale Plaza, the new Seletar Mall, and Punggol Waterway Point are within close proximity. </div>
                                    <div class="graphic col-md-6">
                                        <img src="images/amenties-1.png" alt="" width="100%">
                                    </div>
                                </div>
                                <div class="item row p-t-3">
                                    <div class="content col-md-6 p-b-1">On top of that, Rivercove Residences EC Sengkang is also near Sengkang Riverside park, Sengkang Sculpture Park, Sengkang Sports and Recreation Center, Anchorvale Community Club, the upcoming Sengkang General and Community Hospital. </div>
                                    <div class="graphic col-md-6">
                                        <img src="images/amenties-2.png" alt="" width="100%">
                                    </div>
                                </div>
                                <div class="item row p-t-3">
                                    <div class="content col-md-6 p-b-1">The location is also well served by public transportation with Sengkang MRT station, Sengkang Bus Interchange and the Cheng Lim LRT station that is a mere 4 LRT stops away from Rivercove Residences.</div>
                                    <div class="graphic col-md-6">
                                        <img src="images/amenties-3.png" alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="register" id="register">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-3 text-xs-center">
                            <div class="title p-t-1 m-b-1 p-x-1 font-type-2">
                                <h4>Dont's miss out on this new and only EC in 2018.</h4>
                                <h4>Register your interest for VVIP Preview Invites to the Launch and Booking Day.</h4>
                                <p>For those who registered their interest and gotten our VVIP invites to be the first to view the showflat and make a booking for your choice unit.</p>
                            </div>
                            <div class="p-t-1 p-b-2">
                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeV9gqv8LfoOcxnaeGJ2lqVkzHUFmYF5CijLWhTV4gGryrscA/viewform?embedded=true"
                                    width="500"
                                    height="1230"
                                    frameborder="0"
                                    marginheight="0"
                                    marginwidth="0">
                                    Loading...
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="scroll-to-top" style="display: none;"><i class="fa fa-angle-up"></i></div>
        </div>

        <script src="assets/smooth-scroll.js"></script>

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="lib/tether/dist/js/tether.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="assets/load-json.js"></script>
        <script src="assets/cookie.js"></script>
        <script src="lib/angularjs-slider-6.4.0/rzslider.min.js"></script>
        <script src="assets/app.js"></script>
    </body>
</html>