<!DOCTYPE html>
<html>
    <head>
        <title>Rivercove Residence EC</title>

        <link  href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link  href="lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link  href="lib/angularjs-slider-6.4.0/rzslider.min.css" rel="stylesheet">

        <link  href="assets/extra.css" rel="stylesheet">
        <link  href="assets/my-style.css" rel="stylesheet">
        <link  href="assets/responsive-menu.css" rel="stylesheet">
        
        <link  href="pages/home/home.css" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!--use local font file for testing, can enable this when deploy-->
        <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa%3A400%2C700&amp;ver=4.7.3" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Comfortaa%3A700" type="text/css">-->
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-400-700-v4-7-3.css" type="text/css">
        <link rel="stylesheet" href="lib/fonts-googleapis-comfortaa-700.css" type="text/css">
    </head>
    <body class="rcr" ng-app="rcrApp" ng-controller="rcrCtrl as rcr" ng-init="rcr.openModal('page-init-modal'); rcr.init();">
        <img src="./images/logo.bmp" alt="" class="logo">
        <button id="responsive-menu-button"
                class="responsive-menu-button responsive-menu-accessible responsive-menu-boring" 
                type="button" aria-label="Menu"
                ng-click="rcr.showMenu = !rcr.showMenu"
                ng-class="{ 'is-active': rcr.showMenu }">
            <span class="responsive-menu-box"><span class="responsive-menu-inner"></span></span>
        </button>
        <div id="responsive-menu-container" class="slide-left"
             ng-class="{ 'slide-left': !rcr.showMenu }">
            <div id="responsive-menu-wrapper" class="p-a-3">
                <ul id="responsive-menu" class="">
                    <li id="responsive-menu-item-home" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#home" class="responsive-menu-item-link">
                            <span>Home</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-home" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#details" class="responsive-menu-item-link">
                            <span>Details</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-home" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#amenties" class="responsive-menu-item-link">
                            <span>Amenties</span>
                        </a>
                    </li>
                    <li id="responsive-menu-item-home" ng-click="rcr.showMenu = !rcr.showMenu" class="responsive-menu-item">
                        <a href="#register" class="responsive-menu-item-link">
                            <span>Register</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-content">
            <section class="home" id="home">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content">
                            <h2 class="title">
                                <strong>Welcome to Rivercove Residences</strong>
                                <br>
                                <span>Executive Condominium at Anchorvale Lane</span>
                            </h2>
                            <a href="#register">
                                <button class="btn btn-light btn-lg m-t-3">
                                    Register Interest
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="details" id="details">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-a-3 text-xs-center">
                            <h3>Rivercove Residences EC Details</h3>
                            <div class="p-t-1 p-b-2">
                                <p>Rivercove Residences EC is a 99-years leasehold development located in Sengkang and Anchorvale area. It is a beautiful development with the full waterfront facing Sengkang Riverside Park. In additional, it has an unblock view making it one of the more unique ECs. Many of the units are also facing away from the LRT Station to reduce noise exposure. There are approximately 635 units that range from 3 to 5 bedrooms, whichever fits your needs. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="amenties" id="amenties">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-3">
                            <h3>Rivercove Residences EC Amenties</h3>
                            <div class="p-t-1 p-b-2">
                                <h5>Bus Interchange & MRT Near Rivercove Residences EC</h5>
                                <ul>
                                    <li>Layar LRT Station</li>
                                    <li>Tongkang LRT Station</li>
                                    <li>Sengkang MRT Station</li>
                                </ul>
                
                                <h5>Shopping Mall Nearby Rivercove Residences EC</h5>
                                <ul>
                                    <li>The Seletar Mall</li>
                                    <li>Compass One</li>
                                    <li>Fernvale Point</li>
                                </ul>
                
                                <h5>Schools Nearby Rivercove ResidencesEC</h5>
                                <ul>
                                    <li>Nan Chiau Primary School</li>
                                    <li>Nan Chiau High School</li>
                                    <li>Pei Hwa Secondary School</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section class="register" id="register">
                <div class="overlay">
                    <div class="container">
                        <div class="float-content p-y-3 text-xs-center">
                            <div class="title p-t-1 m-b-1">
                                <h4>Fill up this form to register & receive the complete Rivercove Residences Brochure</h4>
                                <p>The brochure includes floor plans, site plans and more</p>
                            </div>
                            <div class="p-t-1 p-b-2">
                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeV9gqv8LfoOcxnaeGJ2lqVkzHUFmYF5CijLWhTV4gGryrscA/viewform?embedded=true"
                                    width="500" 
                                    height="1230" 
                                    frameborder="0" 
                                    marginheight="0" 
                                    marginwidth="0">
                                    Loading...
                                </iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="scroll-to-top" style="display: block;"><i class="fa fa-angle-up"></i></div>
        </div>

        <script src="assets/smooth-scroll.js"></script>

        <script src="lib/jquery/dist/jquery.min.js"></script>
        <script src="lib/angular.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="lib/tether/dist/js/tether.js"></script>
        <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="assets/load-json.js"></script>
        <script src="assets/cookie.js"></script>
        <script src="lib/angularjs-slider-6.4.0/rzslider.min.js"></script>
        <script src="assets/app.js"></script>
    </body>
</html>