html, body {
    overflow-x:hidden 
}

body {
    font-size: 15px;
    line-height: 2;
    max-width: 1600px;
    margin: 0 auto;
    color: #191919;
    font-family: Comfortaa;
}

img.logo {
    width: 200px;
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 100;
    opacity: 0.4;
}