html, body {
    overflow-x:hidden
}

body {
    font-size: 15px;
    line-height: 2;
    margin: 0 auto;
    color: #191919;
    font-family: Comfortaa;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    height: 35px;
    background-color: RGBA(255, 255, 255, 0.8);
}
.page-header .header-content {
    display: inline-block;
}
.page-header .header-content ul li {
    display: inline-block;
    margin: 0 0.5rem;
    font-weight: 700;
}
.page-header .header-content .top-menu-item-link {
    padding: 0.35rem 0.5rem;;
    text-decoration: none;
    border-color: transparent;
    transition: border-color 0.5s, color 0.2s;
}
.page-header .header-content .top-menu-item-link:hover {
    font-weight: 700;
    color: black !important;
    /* color: #f78f27 !important; */
    background-color: transparent !important;
    border-top: 2px solid #f26222 !important;
    border-bottom: 2px solid #f26222 !important;
}

img.logo {
    height: 100%;
}

#responsive-menu-button {
    left: 3px !important;
    top: 3px !important;
}
#responsive-menu-button.is-active {
    border-color: white !important;
}
#responsive-menu-button .fa-bars {
    color: black;
}
#responsive-menu-button.is-active .fa-bars {
    color: white;
}
.responsive-menu-item-link:hover {
    color: #f78f27 !important;
    background-color: transparent !important;
    border-top: 2px solid #f26222 !important;
    border-bottom: 2px solid #f26222 !important;
}

/*  --------------------------------------------------------------  */

.rcr section {
    position: relative;
    left: 0;
    right: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
}
.rcr section .overlay {
    height: 100%;
    width: 100%;
}
.rcr section .container {
    height: 100vh;
    display: table;
}
.rcr section .container .float-content {
    display: table-cell;
    vertical-align: middle;
}



.rcr section.home {
    background-image: url("../images/home-bg-2.jpg");
}
@media (max-width: 1100px) {
    .rcr section.home {
        background-attachment: scroll;
    }
}
.rcr section.home .container .float-content {
    text-align: center;
}
.rcr section.home .container .float-content .register-interest {
    /* background-color: RGBA(50, 100, 150, 0.5); */
    /* color: white; */
    /* font-weight: 300; */
    font-size: 150%;
    padding: 0.35rem 0.8rem;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px white;
}
.rcr section.home .container .title {
    font-weight: 300;
    position: relative;
    padding: 3rem;
}
@media (max-width: 767px) {
    .rcr section.home .container .title {
        padding: 3rem 0;
    }
}
.rcr section.home .container .title .launching-tag {
    position: absolute;
    top: 13rem;
    left: 37rem;
    width: 300px;
}
.rcr section.home .container .title .launching-tag img {
    width: 100%;
}

@media (max-width: 1100px) {
    .rcr section.home .container .title .launching-tag {
        position: absolute;
        top: auto;
        right: auto;
        left: 64%;
        bottom: 80%;
        width: 45%;
        max-width: 180px;
    }
}


.rcr section.home .container .title .head {
    position: relative;
    background-color: RGBA(245, 245, 255, 0.7);
    border-radius: 15px;
    padding: 2rem 1rem;
}
@media (max-width: 767px) {
    .rcr h2 {
        font-size: 1.85rem;
    }
    .rcr h3 {
        font-size: 1.3rem;
    }
}



.rcr section.details {
    height: 100vh;
    width: 100%;
    display: block;
    color: white;
    position: relative;
}
.rcr section.details .overlay {
    background-color: RGBA(0, 0, 0, 0.6);
}
.rcr section.details::after {
    content: "";
    opacity: 0.93;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -5;
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
    background-image: url("../images/background1.jpg");
}
@media (max-width: 1100px) {
    .rcr section.details::after {
        background-attachment: scroll;
    }
}


.rcr .screen-image-1 {
    background-color: black;
    padding: 0 10%;
}


.rcr section.reason,
.rcr section.reason .container {
    height: auto;
}
.rcr section.reason .bg-overlay {
    z-index: -10;
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
    background-image: url("../images/background5.jpg");
}
@media (max-width: 1100px) {
    .rcr section.reason .bg-overlay {
        background-attachment: scroll;
    }
}
.rcr section.reason .overlay {
    background-color: RGBA(255, 255, 255 , 0.6);
    /* color: white; */
}

.rcr section.amenties {
    background-image: url("../images/amenties-bg.jpg");
}
.rcr section.amenties .overlay {
    color: white;
    background-color: RGBA(0, 0, 0 , 0.8);
}
@media (min-width: 768px) {
    .rcr section.amenties .items .item:nth-child(even) .content {
        float: right;
    }
    .rcr section.amenties .items .item .content {
        padding-top: 1.5rem;
    }
}

.rcr section.amenties .items .graphic {
    background: white;
    padding: 1rem;
}



.rcr section.register {
    background-image: url("../images/register-bg.jpg");
}
@media (max-width: 1100px) {
    .rcr section.register {
        background-attachment: scroll;
    }
}
.rcr section.register .overlay {
    color: black;
    background-color: RGBA(255, 255, 255 , 0.5);
}
.rcr section.register .title {
    border-radius: 15px;
    background-color: RGBA(255, 255, 255 , 0.8);
}
.rcr section.register iframe {
    max-width: 100%;
}




/* # utilities */
.font-type-1 {
    font-family: 'Libre Baskerville', serif !important;
}
.font-type-2 {
    font-family: 'Alegreya SC', serif !important;
}
.font-type-3 {
    font-family: 'Caudex' !important;
}